inflect==2.1.0            
luma.core==1.12.0         
luma.emulator==1.2.0      
luma.oled==3.3.0          
lxml==4.6.3               
nre_darwin_py==0.2.0      
pillow==8.2.0            
pyftdi==0.52.0            
pygame==1.9.4             
pyserial==3.5             
pyusb==1.1.0             
rpi.gpio==0.7.0           
smbus2==0.4.0             
spidev==3.4               
suds-jurko==0.6          
